html {
    line-height: 1.15; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */    
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    webkit-tap-highlight-color: rgba(255,255,255,.2);    
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main { /* 1 */
  display: block;
}

figure {
  margin: 1em 40px;
}



hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}



pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}


a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}



a:active,
a:hover {
  outline-width: 0;
}



abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}


b,
strong {
  font-weight: inherit;
}


b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}


img {
  border-style: none;
}


svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details, /* 1 */
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.display-inline {
    display: inline-block;
}

.m0{margin:0}.mt0{margin-top:0}.mr0{margin-right:0}.mb0{margin-bottom:0}.ml0{margin-left:0}.m1{margin:.5rem}.mt1{margin-top:.5rem}.mr1{margin-right:.5rem}.mb1{margin-bottom:.5rem}.ml1{margin-left:.5rem}.m2{margin:1rem}.mt2{margin-top:1rem}.mr2{margin-right:1rem}.mb2{margin-bottom:1rem}.ml2{margin-left:1rem}.m3{margin:2rem}.mt3{margin-top:2rem}.mr3{margin-right:2rem}.mb3{margin-bottom:2rem}.ml3{margin-left:2rem}.m4{margin:4rem}.mt4{margin-top:4rem}.mr4{margin-right:4rem}.mb4{margin-bottom:4rem}.ml4{margin-left:4rem}.m5{margin:5rem}.mt5{margin-top:5rem}.mr5{margin-right:5rem}.mb5{margin-bottom:5rem}.ml5{margin-left:5rem}.mxn1{margin-left:-.5rem;margin-right:-.5rem}.mxn2{margin-left:-1rem;margin-right:-1rem}.mxn3{margin-left:-2rem;margin-right:-2rem}.mxn4{margin-left:-4rem;margin-right:-4rem}.mx-auto{margin-left:auto;margin-right:auto}.p0{padding:0}.p1{padding:.5rem}.py1{padding-top:.5rem;padding-bottom:.5rem}.px1{padding-left:.5rem;padding-right:.5rem}.p2{padding:1rem}.py2{padding-top:1rem;padding-bottom:1rem}.px2{padding-left:1rem;padding-right:1rem}.p3{padding:2rem}.py3{padding-top:2rem;padding-bottom:2rem}.px3{padding-left:2rem;padding-right:2rem}.p4{padding:4rem}.py4{padding-top:4rem;padding-bottom:4rem}.px4{padding-left:4rem;padding-right:4rem}
.mt6{margin-top: 6rem;}
.mt10{margin-top: 10rem;}
.mt8{margin-top: 8rem;}
.mt12{margin-top: 12rem;}
.pb-60 {padding-bottom: 60px;}
.pt-60 {padding-top: 60px;}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

.white-bg {
    background-color: white !important;
}
/*================================================*/
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*background: #000;*/
}
.video-container .poster img {
  width: 100%;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.video-container .title-container h1 {
    font-size: 34px;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

/*===================================*/

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    margin-top: 10px;
    height: 57px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: grey;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

/*.navbar-custom .nav li.active a {
    color: #F76F54;
}*/

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.navbar-nav  li {
    margin-top: 10px;
}

a {
    color: #F76F54;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.orange-button:focus, .orange-button:active, .orange-button:hover  {
    color: white;
    border: none;
    background-color: #B62F13;
}

.blue-button:focus, .blue-button:active, .blue-button:hover  {
    color: white;
    border: none;
    background-color: #105772;
}
/*===================================*/
.orange-bg {
    background-color: #F76F54;
}

.blue-bg {
    background-color: #105772;
}
.grey-bg {
    background-color: #F0F0F0;
}
.beige-bg {
    background-color: #F7F3EE;
}
.blue-button {
    background: #105772;
    border: none;
    /*font-family: "Open Sans-Light";*/
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;  
    text-decoration: none !important;
}
.blue-button:hover {
    background: #105772;
    border: none;
    color: white;
}

.orange-button {
    background: #F76F54;
    border: none;
    padding: 16px 31px;
    /*font-family: "Open Sans-Light";*/
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1.2px;   
    text-decoration: none !important; 
}

.orange-button:hover {
    background: #F76F54;
    border: none;
    color: white;
}
.white {
    color: white !important;
}

.black {
    color: black !important;
}
/*===================================*/
.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.w-90 {
    width: 90%;
}
.full-width {
    width: 100%;
}

.float-none {
    float: none;
}

.mx {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    /*font-family: "Open Sans SemiBold",cursive;*/
    font-weight: 600;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

h2 {
    /*font-family: "Open Sans-SemiBold";*/
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 4px;
}
.body-text {
/*font-family: "Open Sans-Light";*/
font-weight: 300;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 50px;    
margin: 0;
}
.step-text {
font-family: "Open Sans";
font-size: 15px;
color: #FFFFFF;
letter-spacing: 2.67px;
width: 80%;
margin-left: auto;
margin-right: auto;
padding-top: 20px;
line-height: 30px;
}
.service-text {
    /*font-family: "Open Sans-Light";*/
    font-weight: 300;
    font-size: 15px;
    color: #000000;
    letter-spacing: 1px;
    line-height: 30px;
}

.contact-section {
        display: block !important;
        background: url(collage.png) 100% 100% ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        min-height: 400px;    
}

.contact-section h1 {
    margin-top: 90px;
}

.row-height {
    height: 500px;
}
.row-height img {
    height: 500px;
}

.startup-hero {
    display: block !important;
    background: url(startup-hero.png) 30% 70% no-repeat;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 610px;
}  

.case-study-big-text {
    /*font-family: "Open Sans-Light";*/
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 2;
}
/*===================================*/
@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

@media (max-width: 769px) {
    .p30-tablet {
        padding-left: 30px;
    }
    .mt3-tablet {
        margin-top: 30px;
    }
    #video {
        display: none;
    }
    .row-height img, .row-height {
        height: auto !important;
    }
    .poster {
        display: block !important;
        background: url(video-image.png) 30% 70% no-repeat;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        min-height: 610px;
    }        

    .video-container .title-container {
        top: 35%;
    }

    .video-container .title-container h1 {
        font-size: 24px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    .body-text {
        font-size: 15px;
    }
    .step-text, .service-text {
        font-size: 13px;
        line-height: 26px;
    }
    .video-container .title-container h1 {
        font-size: 24px;
        line-height: 60px;
    }
    .orange-button, .blue-button {
        font-size: 12px;
    }    
}

@media (max-width: 400px) {
    .poster {
        display: block !important;
        background: url(video-image.png) 30% 70% no-repeat;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        min-height: 650px;
    }      
    .mt10, .mt12, .mobile-heading {
        margin-top: 30px;
    }
}
/*Last Edit 5/8/2017 By ManaknightDigital*/
@media only screen and (min-width: 1025px) {
    .visible-desktop-block {
        display: block;
    }

    .hidden-desktop {
        display: none !important;
    }
}
